.UserSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
        font-size: 2rem;
        margin-bottom: 1rem;
        background-color: #272727;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 3.5rem;
    }
    .user-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            gap: .4rem;
            border-radius: 5%;
            background-color: #272727;
            padding: .5rem;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: #0e0e0e;
                color: #bac7ff;
            }

            .userPic {
                height: 7vh;
                border-radius: 50%;
                margin-right: .9vw;
                object-fit: cover;
            }
        }
    }
    .register-user-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 2.5rem;
        background-color: #272727;
        padding: 1.5rem;
        border-radius: 1rem;
        cursor: pointer;
    }
}