.movie-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        height: 36vh;
        width: auto;
        border-radius: 4%;
    }

    .movie-modal-info {
        display: flex;
        align-items: center;
        justify-content: center;

        .movie-modal-title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: .5vh;
            margin-bottom: 1.5vh;
            padding: .2vw;
            padding-left: .5vw;
            padding-right: .5vw;
            border-radius: .3vw;
            border: 2px solid #6d6d6d;
        }

        .movie-modal-platform {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 1.5vh;
        }
    }

    .movie-modal-plat {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        img {
            height: auto;
            width: 5%;
            margin-right: 1vw;
            padding: calc(1vh + 1px);
            border-radius: 5px;
            background-color: #1f1f1f;
            &:hover {
                cursor: pointer;
            }
        }

        .selected {
            border: 1px solid #fff;
            padding: 1vh;
        }
    }

    .movie-modal-watched {
        display: flex;
        align-items: center;
        justify-content: center;
        .movie-modal-watched-title {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.not-watched {
    color: #ff4242;
}

.watched {
    color: #35ff3c;
}